.body-login * {
  color: black;
}

.body-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
}

.main-login {
  width: 425px;
  height: 550px;
  border-radius: 10px;
  border: 1px solid #666666;
  background-color: rgb(245, 245, 245);
}

@media screen and (min-width: 1920px) {
  .main-login {
      width: 500px;
      height: 750px;
  }
}

.div-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 100px;
}

@media screen and (min-width: 1920px) {
  .div-logo {
      margin-bottom: 10%;
  }
}

.div-logo img {
  width: 125px;
}

@media screen and (min-width: 1920px) {
  .div-logo img {
      width: 160px;
  }
}

.form-login {
  margin-left: 10%;
}

@media screen and (min-width: 1920px) {
  .form-login label {
      font-size: 20px;
  }
}

.form-login input {
  display: block;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 85%;
  height: 30px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(245, 245, 245);
}

@media screen and (min-width: 1920px) {
  .form-login input {
      height: 36px;
      font-size: 18px;
  }
}



.button-login {
  margin-top: 10%;
}

@media screen and (min-width: 1920px) {
  .button-login {
      margin-top: 12%;
  }
}

.button-login input {
  height: 50px;
  width: 87%;
  background-color: #58498b;
  color: white;
  font-size: 24px;
}

@media screen and (min-width: 1920px) {
  .button-login input {
      height: 60px;
      font-size: 30px;
  }
}

.button-login input:hover {
  background-color: #645699;
  cursor: pointer;
}

.clip-area-div {
  display: flex;
  margin-top: 10px;
  height: 60px;
  /* background-color: green; */
}

.clip-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  /* background-color: yellow; */
}

.turma-select-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 165px;
  width: 150px;
  /* background-color: red; */
}

.turma-select-div p{
  margin: 0;
}

.turma-select-div select{
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.data-div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 86%;
  font-size: 14px;
 /*  background-color: black; */
}

.main-login i {
  font-size: 28px;
}

.main-login i:hover {
  cursor: pointer;
}
