main * {
  margin: 0;
}

.main-content {
  margin-top: 50px;
  margin-left: 50px;
  /* background-color: black; */
}

.title-div {
  /* background-color: green; */
  border-bottom: 1px solid black;
}

.turmas-div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  width: 40%;
}

.turmas-div button {
  height: 90px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 24px;
}

.turmas-div button:hover {
  cursor: pointer;
}

.button-color {
  background-color: #8c4cf3;
  color: white;
}

.button-color2 {
  background-color: #4e42f5;
  color: white;
}

.button-color3 {
  background-color: #fabe3d;
  color: black;
}

.button-color4 {
  background-color: #45f75d;
  color: black;
}