main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../imagens/background.png);
    background-position: center;
    background-repeat: no-repeat;
}

.content * {
    color: black;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    background-color: white;
}

.p-class {
    display: inline-block;
}

.input-button {
    width: 100px;
    background-color: #6a34d4;
    color: white;
}

table {
    margin-top: 50px;
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 100px;
}

@media screen and (min-width: 1920px) {
    .div-logo {
        margin-bottom: 10%;
    }
}

.logo {
    height: 105px;
}

@media screen and (min-width: 1920px) {
    .logo {
        height: 130px;
    }
}

.titulo {
    background-color: #6a34d4;
    color: white;
}

.coluna {
    background-color: #ffbf00;
}

