* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    width: 84%;
}

.title {
    background-color: green;
    color: black;
}

/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 16%;
    background-color: #561b8d;
}

@media screen and (min-width: 1920px) {
    .sidebar {
        width: 16%;
    }
}

.sidebar-content {
    padding: 12px;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

.user-avatar {
    width: 50px;
    object-fit: cover;
}

.user-infos {
    display: flex;
    flex-direction: column;
}

.user-infos span:last-child {
    font-size: 12px;
}

.side-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #ffbf00;
}

.side-item:hover:not(.active),
.btn-logout:hover {
    background-color: #6a34d4;
}

.side-item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: 14px;
}

.side-item i {
    display: flex;
    justify-content: center;
    width: 20px;
}

.side-item.active i {
    color: black;
}

.side-item.active .item-description {
    color: black;
}

.logout {
    border-top: 1px solid black;
}

.logout a{
    text-decoration: none;
}

.btn-logout {
    display: flex;
    align-items: center;
    gap: 15px;
    border: none;
    padding: 12px 87px;
    text-align: start;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 1920px) {
    .btn-logout {
        padding: 12px 125px;
    }
}

.item-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
}
