main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f0ef;
  overflow: hidden;
}

.main-div {
  height: 95%;
  width: 95%;
/*   background-color: black; */
}

.topside-div {
  display: flex;
  align-items: center;
  height: 8%;
  /* background-color: pink; */
}

.search-div {
  flex: 2.5;
  height: 50px;
  margin-right: 5px;
  /* background-color: green; */
}

.search-div form{
  display: flex;
  width: 99%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  /* background-color: aquamarine; */
}

.search-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-right: 1px solid gray;
  /* background-color: blueviolet; */
}

.search-icon-div input {
  width: 95%;
  height: 95%;
  border: none;
  background-color: transparent;
  /* background-color: yellow; */
}

.search-icon-div i {
  position: fixed;
  font-size: 24px;
  pointer-events: none; /* Faz o ponteiro não reconhecer o icone como um objeto interativo */
  /* background-color: black; */
}

.search-input-div {
  flex: 20;
  /* background-color: beige; */
}

.search-input-div input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  /* background-color: gray; */
}

.buttons-div {
  display: flex;
  flex: 1;
  height: 50px;
  /* background-color: blue; */
}

.buttons-div a {
  text-decoration: none;
}

.buttons-div i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 18px;
  color: black;
  /* background-color: green; */
}

.button-filter-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  /* background-color: aqua; */
}

.button-filter-div p {
  margin: 0;
  font-size: 14px;
}

.button-filter-div a {
  text-decoration: none;
}

.button-filter-div i {
  color: black;
}

.button-create-div {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  /* background-color: purple; */
}

.button-create-div p{
  margin: 0;
  font-size: 14px;
}

.bottomside-div {
  display: flex;
  align-items: center;
  height: 92%;
  /* background-color: lightblue; */
}

.shard-div {
  margin-right: 5px;
  flex: 2.5;
  height: 95%;
  /* background-color: orange; */
  overflow-y: scroll;
}

.shard-div::-webkit-scrollbar {
  width: 0.5px;
}

.shard {
  margin-bottom: 20px;
  display: flex;
  width: 99%;
  height: 70px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #58498b;
}

.shard a {
  display: flex;
  flex: 12;
  /* background-color: yellow; */
  text-decoration: none;
}

.shard-link {
  display: flex;
  width: 100%;
  /* background-color: red; */
}

.shard-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  flex: 1;
  height: 100%;
}

.shard-avatar img {
  width: 50px;
}

.shard-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 13;
  /* background-color: orange; */
}

.shard-info p {
  margin: 0;
  display: inline-block;
  color: white;
}

.shard-info span {
  margin-left: 15px;
  color: rgb(187, 187, 187);
  font-size: 14px;
  font-style: italic;
}

.shard-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  border-left: 1px solid gray;
  /* background-color: gray; */
}

.shard-buttons a {
  display: flex;
  justify-content: space-evenly;
}

.shard-buttons i {
  font-size: 24px;
  color: white;
}

.shard-card-div {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 95%;
  /* background-color: red; */
}

.shard-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 450px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #58498b;
}

.shard-card-avatar {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex: 1.5;
  /* background-color: aquamarine; */
}

.shard-card-avatar img {
  width: 80px;
  object-fit: cover;
  /* background-color: black; */
}

.shard-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex: 3.5;
  /* background-color: lightpink; */
}

.shard-card-info p {
  margin: 0;
  font-size: 18px;
  color: white;
}

.shard-card-info span {
  font-size: 16px;
  color: white;
}

.shard-card-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  /* background-color: lightgray; */
}

.shard-card-buttons i {
  font-size: 30px;
  color: white;
}


/* MODAL */

.modal-header {
  background-color: #58498b;
  color: white;
}

.btn-close {
  background-color: white;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  /* background-color: red; */
}

.logo-div {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.logo-div img {
  width: 125px;
}

.flex-div {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 85%;
  /* background-color: yellow; */
}

.flex-div label {
  font-size: 20px;
}

.flex-div input {
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
}

.flex-div select {
  width: 120px;
}

.div-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
 /*  background-color: black; */
}

.div-error p {
  color: rgb(77, 76, 76);
}

.modal-body input:nth-child(6) {
  margin-top: 30px;
  height: 50px;
  width: 400px;
  font-size: 24px;
}

.form-turma {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}


.turma-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 100px;
  margin-top: 40px;
}

.turma-grid input {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.turma-grid input:nth-child(1) {
  background-color: #8c4cf3;
}

.turma-grid input:nth-child(2) {
  background-color: #4e42f5;
}

.turma-grid input:nth-child(3) {
  background-color: #fabe3d;
}

.turma-grid input:nth-child(4) {
  background-color: #45f75d;
}