* {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f2f0ef;
  /* background-color: green; */
}


.search-div {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  height: 50px;
/*   background-color: green; */
}

.search-bar {
  width: 73.6%;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
/*   background-color: blueviolet; */
}

.search-bar form {
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.search-bar input {
  color: black;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.search-icon i {
  position: fixed;
  font-size: 24px;
  color: black;
  pointer-events: none;
}

.search-icon input{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.search-icon input:hover {
  cursor: pointer;
}

.search-input {
  width: 100%;
  height: 50px;
  /* background-color: black; */
}

.search-input input {
  width: 99.50%;
  height: 48px;
  border: none;
  border-radius: 5px;
  border-left: 1px solid gray;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
}

.search-buttons {
  display: flex;
  align-items: center;
  height: 100%;
/*   background-color: orange; */
}

.filter-form {
  /* background-color: red; */
  margin-left: 25px;
}

.inputIcon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  /* background-color: yellow; */
}

.inputIcon-div input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.inputIcon-div input:hover {
  cursor: pointer;
}

.search-buttons i {
  position: fixed;
  font-size: 18px;
  color: black;
  pointer-events: none;
}


/* --------- CARDS ----------- */

.card-div {
  overflow: auto;
  margin-left: 50px;
  margin-top: 35px;
  width: 75%;
  height: 770px;
  /* background-color: blue; */
}

.user-card {
  display: flex;
  width: 95%;
  margin-bottom: 25px;
  height: 80px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #58498b;
  /* background-color: yellow; */
}

.card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  /* background-color: green; */
}

.card-avatar img{
  width: 45px;
  object-fit: cover;
}

.card-info {
  margin-top: 15px;
  margin-left: 10px;
  width: 100%;
  height: 50px;
}

p {
  margin: 0;
}

.card-info p {
  font-size: 15px;
  margin-top: 5px;
}

.card-name {
  display: inline-block;
}

.card-name:nth-last-child(2n) {
  margin-left: 6px;
  color: #d6d3d2;
  font-style: italic;
}