main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rematricula-div {
    height: 400px;
    width: 600px;
    /* background-color: red; */
}

.rematricula-div form {
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.form-title {
    margin-top: -13px;
    margin-left: 10px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin: 30px 20px 20px 20px;
    /* background-color: aqua; */
}

.form-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    /* background-color: red; */
}

.form-content label {
    font-size: 20px;
    font-weight: 500;
}

.form-content input {
    align-items: center;
    padding: 15px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
}

.rematricula-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
    width: 550px;
}

.rematricula-button-div p {
    margin: 0;
    color: rgb(85, 84, 84);
}

.form-content button {
    width: 150px;
    height: 45px;
    background-color: #58498b;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}


