body {
    margin: 0;
}

.sidebar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 16%;
    background-color: #242F40;
    border-right: 1px solid #666666;
}

@media screen and (min-width: 1920px) {
    .sidebar {
        width: 14%;
    }
}

.sidebar-content {
    padding: 12px;
}

.sidebar-user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

.sidebar-avatar {
    width: 50px;
    object-fit: cover;
}

.sidebar p {
    display: flex;
    flex-direction: column;
}

.sidebar-user-infos span:last-child {
    font-size: 12px;
}

.side-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    cursor: pointer;
}

.side-item.active {
    background-color: #ffbf00;
}

.side-item:hover:not(.active),
.btn-logout:hover {
    background-color: #645699;
}

.side-item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: 14px;
    padding: 14px;
}

.side-item i {
    display: flex;
    justify-content: center;
    width: 20px;
}

.side-item.active i {
    color: black;
}

.side-item.active .item-description {
    color: black;
}

.logout {
    border-top: 1px solid #666666;
}

.logout a{
    text-decoration: none;
}

.btn-logout {
    display: flex;
    align-items: center;
    gap: 15px;
    border: none;
    padding: 12px 88px;
    text-align: start;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 1920px) {
    .btn-logout {
        font-size: 16px;
        padding: 12px 104px;
    }
}

.item-description {
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
}

@media screen and (min-width: 1920px) {
    .item-description {
        font-size: 17px;
    }
}